@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/OpenSans-Light.ttf) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/OpenSans-Semibold.ttf) format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(/fonts/Raleway-Thin.ttf) format('woff2');
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

@mixin font-opensans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@mixin font-opensans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
