
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

@mixin font-opensans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@mixin font-opensans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
