@mixin plain-list {
  &, & > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin choices-list {
  @include plain-list;

  [type=checkbox] {
    display: none;

    + label {
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &:checked + label {
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  li {
    margin: 0.5em 0;
    &:first-child {
      margin-top: -1px;
    }
  }
}
