@mixin plain-list {
  &, & > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin choices-list {
  @include plain-list;

  li {
    margin: 0.5em 0;
    position: relative;
    &:first-child {
      margin-top: -1px;
    }
  }

  [type=checkbox] {
    display: none;
  }

  label {
    display: inline-block;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
    }
  }

  .checkbox-icon {
    // Hide it behind the label
    position: absolute;
    top: 1px;
    z-index: -1;
    opacity: 0.5;
    path {
      opacity: 0; // Hide check mark by default
    }
  }

  label:hover {
    &, ~ .checkbox-icon {
      opacity: 1;
    }
  }

  [type=checkbox]:checked {

    ~ label, ~ .checkbox-icon, ~ .checkbox-icon path {
      opacity: 1;
    }

    ~ label:hover {
      &, ~ .checkbox-icon {
        opacity: 0.5;
      }
    }
  }
}
