@import "bourbon";
@import "settings/grid_layout";
@import "neat";

.page-header {
  height: 400px;
  > .container {
    @include outer-container;
    padding: $gutter 0;
  }
}

.explanation {
  .container {
    @include outer-container;
  }

  .info {
    width: 80%;
    margin: 0 auto;
  }
}

.main-content {
  @include outer-container;

  .filters {
    padding: $gutter 0;

    &.is-fixed {
      position: fixed;
      top: 0;
      max-width: inherit;
      width: 100%;
      // background seems to be necessary for IE to replicate pointer-events.
      // TODO: Check during browser testing
      background: none !important;
      z-index: 1;

      > .input-filters {
        margin-top: -$gutter;
        padding-top: $gutter;
        height: 2*$gutter + $awards-vertical-spacing;
        background: white;
      }

      + .awards {
        @include shift(1);
        margin-top: 2 * $gutter;
      }

      // Fixes a bug where awards can not be hovered correctly
      // when they are covered by the fixed area
      pointer-events: none;

      // Re-enables interaction with filters
      .input-filters, .year-filter, .category-filter {
        pointer-events: auto;
      }
    }
  }

  .year-filter {
    @include span-columns(1);
  }

  @include direction-context(right-to-left) {
    .category-filter {
      @include span-columns(1);
    }
  }

  .search-box {
    @include span-columns(2);
  }

  .country-filter {
    @include span-columns(1);
    @include omega;
  }

  .awards {
    @include span-columns(3);
    margin-bottom: $footer-height;
    margin-top: $awards-vertical-spacing;

    .award {
      @include span-columns(1 of 3);
      @include omega(3n);
      margin-bottom: $awards-vertical-spacing;
    }
  }

  .text-column {
    @include span-columns(3);
    @include shift(1);

    .persons {
      @include outer-container;
      p {
        @include span-columns(1 of 3);
        &:last-child {
          @include omega;
        }
      }
    }
  }
}
