---
title: Energy Globe Award
---

<div id="application">

  <header>
    <h1 class="headline">Energy Globe Award</h1>
  </header>

  <section ng-controller="AwardsController">

    <div class="award" ng-repeat="award in awards">
      <h3>{{ award.title }}</h3>
    </div>
    
  </section>

</div>