---
title: Energy Globe Award
---

<div id="application">

  <header>
    <h1 class="headline">Energy Globe Award</h1>
  </header>

  <section ng-controller="AwardsController">

    <section class="filters">

      <h3>Länder</h2>
      <div multi-select
           data="data"
           output="output"
           placeholder='Alle Länder …'>
      </div>

      <h2>Kategorien</h2>
      <ul class="category-filter" ng-repeat="category in filters.category.names">
        <li>
          <input type="checkbox" id="category_checkbox_{{category}}" ng-model="filters.category.filterMap[category]">
          <label for="category_checkbox_{{category}}">{{category}}</label>
        </li>
      </ul>

      <h2>Jahre</h2>
      <ul class="year-filter" ng-repeat="year in filters.year.names">
        <li>
          <input type="checkbox" id="year_checkbox_{{year}}" ng-model="filters.year.filterMap[year]">
          <label for="year_checkbox_{{year}}">{{year}}</label>
        </li>
      <ul>
    </section>

    <div class="award" ng-repeat="award in filteredAwards">
      <h3>{{ award.title }}</h3>
    </div>

  </section>

</div>
