---
title: Energy Globe Award
---

#application

  %header
    %h1.headline Energy Globe Award

  %section{ "ng-controller" => "AwardsController" }
    .award{ "ng-repeat" => "award in awards" }
      %h3 {{ award.title }}
