---
title: "Projekte | Energy Globe Award Gewinner"
id: "index"
---

<div class="explanation">
  <div class="wrapper">
    <div class="container">
      <p class="info">
        Diese Projekte wurden für ihren Fokus auf Ressourcenschonung,
        Energieeffizienz und Einsatz erneuerbarer Energien mit dem
        <a href="http://www.energyglobe.at/">Energy Globe Award</a> ausgezeichnet.
        <a href="/about.html">Mehr erfahren</a>
      </p>
    </div>
  </div>
</div>

<div class="awards-app main-content" ng-controller="AwardsController" ng-init='preloadAwards(<%= data.preloaded_awards.to_json %>)'>
  <div fix-at-top class="filters">
    <section class="year-filter">
      <h2 class="headline">Jahre</h2>

      <ul class="choices-list">
        <li ng-repeat="year in filters.year.names">
          <input type="checkbox" id="year_checkbox_{{year}}" ng-model="filters.year.filterMap[year]">
          <label for="year_checkbox_{{year}}">{{year}}</label>
          <%= sprockets.find_asset('checkbox.svg').to_s %>
        </li>
      <ul>
    </section>

    <section class="category-filter">
      <h2 class="headline">Kategorien</h2>

      <ul class="choices-list">
        <li ng-repeat="category in filters.category.names" class="is-{{ category }}">
          <input type="checkbox" id="category_checkbox_{{category}}" ng-model="filters.category.filterMap[category]">
          <label for="category_checkbox_{{category}}" class="choice-label">{{ category | translateCategory }}</label>
          <%= sprockets.find_asset('checkbox.svg').to_s %>
        </li>
      </ul>
    </section>

    <div class="input-filters">
      <section class="search-box">
        <h2 class="headline">Suche</h2>
        <input type="text" ng-model="filters.searchTerm" placeholder="suchen …">
      </section>

      <section class="country-filter">
        <h2 class="headline">Länder</h2>
        <select ng-model="filters.countries.selected"
                ng-options="name as name for name in filters.countries.names"
                class="select">

          <option value=''>Alle Länder …</option>
        </select>
      </section>
    </div>
  </div>

  <section infinite-scroll="loadNextPage()" infinite-scroll-distance="3"  class="awards">
    <h2 class="headline">Awards</h2>
    <ul class="awards-list">
      <li ng-repeat="award in filteredAwards" class="award is-category-{{ award.category }}">
        <a href="http://www.energyglobe.at/{{ award.details_link }}">
          <award-header award="award">
            <span class="category" ng-bind="award.category | translateCategory"></span>
          </award-header>
          <div class="text">
            <div class="year" ng-bind="award.year"></div>
            <div class="country" ng-bind="award.country"></div>
            <h3 class="title" ng-bind-html="sanitizeHTML(award.title)"></h3>
            <div class="organization" ng-bind-html="sanitizeHTML(award.organization)"></div>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>

<footer class="page-footer">
  Diese Website wird von
  <a class="wirsing-link" href="http://www.wirsing.io">
    <%= sprockets.find_asset('wirsing-logo-neutral.svg').to_s %>
    Wirsing
  </a>
  entwickelt und gewartet.
</footer>
