@import "mixins/accessibility";
@import "mixins/lists";
@import "mixins/text";
@import "settings/colors";

.category-filter {

  > .headline {
    @include screenreaders-only;
  }

  > .choices-list {
    @include choices-list;
  }

  label {
    padding-left: 25px;
  }

  .checkbox-icon {
    left: 0;
  }

  // Color the checkboxes according to the categories
  @each $category, $category-color in $category-colors {
    .is-#{$category} .checkbox-icon {
      path {
        fill: $category-color;
      }
      rect {
        stroke: $category-color;
      }
    }
  }

  > .headline {
    @include filter-headline;
  }
}
