@import "bourbon";
@import "mixins/accessibility";
@import "settings/colors";
@import "settings/grid_layout";

.country-filter {

  position: relative;

  > .headline {
    @include screenreaders-only;
  }

  > .select {
    display: block;
    width: 100%;
    height: $gutter;
    padding-left: 6px;
    color: $text-color;
    border: none;
    border-radius: 0; // Removes Chrome border-radius

    // Render dropdown triangle
    @include appearance(none); // Avoid native dropdown appearance
    background: $box-background url('/images/dropdown-triangle.svg') no-repeat;
    background-position: 94% 53%;

    // Clip long country names with an ellipsis (only works in FF / Safari)
    @include ellipsis;

    // Other browsers will clip the text on the right padding
    padding-right: 30px;

    &:focus {
      outline: 0; // Avoid blue focus outline in Chrome
    }

    // Hack for Firefox to avoid the dotted-border on focusing select
    &:-moz-focusring {
      color: transparent; // This would also render the text transparent
      text-shadow: 0 0 0 $text-color; // So we replace text color with shadow
    }
  }
}
