@import "bourbon";
@import "mixins/fonts";
@import "settings/colors";
@import "settings/grid_layout";

.page-header {
  position: relative;
  color: $header-color;
  overflow: hidden;
  text-align: center;

  .background {
    min-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .title {
    font-size: 48px;
    margin: 50px 0 0 0;
  }

  .headline {
    font-size: 24px;
  }

  h1, h2 {
    @include font-raleway;
  }
}
