@import "mixins/accessibility";
@import "mixins/lists";
@import "mixins/text";

.year-filter {

  > .headline {
    @include filter-headline;
    float: right;
    padding-left: 1.5em;
  }

  > .choices-list {
    @include choices-list;
    clear: right;
    text-align: right;

    label {
      padding-right: 25px;
    }

    .checkbox-icon {
      right: 0;
    }
  }
}
